{% extends "agendamiento/validation_base.html" %}

{% block title %}
    Update {{ validation }}
{% endblock %}

{% block content %}
<h1><a href={% url "agendamiento:validation_list" %}>Validation</a></h1>
<h2>Update {{ validation }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "agendamiento:validation_detail" validation.pk %}>Cancel</a>
<form style="display:inline;" action={% url "agendamiento:validation_delete" validation.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ validation }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}
